{% extends 'base.html.twig' %}

{% block title %}Saisons - {% endblock %}

{% block body %}
    <h1>Saisons</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Date</th>
                <th>Nouvelle Légende</th>
                <th>Nouvelle(s) carte(s)</th>
                <th>Nouvelle(s) arme(s)</th>
                <th>Nombre de correctifs</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for saison in saisons %}
            <tr>
                <td>{{ saison.id }}</td>
                <td>{{ saison.numero }}</td>
                <td>{{ saison.date ? saison.date|date('Y-m-d') : '' }}</td>
                <td>{{ saison.newCaracter }}</td>
                <td>{{ saison.newMap }}</td>
                <td>{{ saison.newWeapon }}</td>
                <td>{{ saison.nbFix }}</td>
                <td>
                    <a href="{{ path('saison_show', {'id': saison.id}) }}">Afficher</a>
                    {% if app.user and is_granted ('ROLE_ADMIN') %}
                        <a href="{{ path('saison_edit', {'id': saison.id}) }}">Editer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune donnée trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user and is_granted ('ROLE_ADMIN') %}
        <a href="{{ path('saison_new') }}">Créer nouvelle saison</a><br>
    {% endif %}
{% endblock %}
