{% extends 'base.html.twig' %}

{% block title %}Saison{% endblock %}

{% block body %}
    <h1>Saison</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ saison.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ saison.numero }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ saison.date ? saison.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NewCaracter</th>
                <td>{{ saison.newCaracter }}</td>
            </tr>
            <tr>
                <th>NewMap</th>
                <td>{{ saison.newMap }}</td>
            </tr>
            <tr>
                <th>NewWeapon</th>
                <td>{{ saison.newWeapon }}</td>
            </tr>
            <tr>
                <th>NbFix</th>
                <td>{{ saison.nbFix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_saison_index') }}">back to list</a>
{% endblock %}
