<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}Apex Community</title>
        <link rel="icon" type="image/png" href="https://seeklogo.com/images/A/apex-logo-C3478A4601-seeklogo.com.png">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <header>
        <img id="logo" src="https://upload.wikimedia.org/wikipedia/fr/0/03/Apex_Legends_Logo.png" alt="logo apex legend">
		<ul id="menu">
			<li><a href="{{ url('home') }}">accueil</a></li>
			<li><a href="{{ url('video_index')}}">vidéos</a></li>
            <li><a href="{{ url('article_index') }}">articles</a></li>
            <li><a href="{{ url('saison_index') }}">saison</a></li>
            {% if app.user %}
                <li class="lastItem" id="utilisateur">{{ app.user.username }}
                    <div class="profile icon"></div>
                    <ul>
                        {% if app.user and is_granted ('ROLE_ADMIN') %}
                            <li><a href="{{ url('admin_user_index') }}">panneau utilisateurs</a></li>
                            <li><a href="{{ url('admin_tag_index') }}">panneau tags</a></li>
                        {% endif %}
                        <li><a id="logout" href="{{ url('app_logout') }}">déconnexion</a></li>
                    </ul>
                </li> 
            {% else %}
                <li class="lastItem"><a id="connection" href="{{ url('app_login') }}">se connecter</a></li>
            {% endif %}
		</ul>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <div>Créé par Tom DUCHESNE</div>
        </footer> 
    </body>
</html>
